@font-face {
    font-family: 'sansationbold';
    src: url('fonts/sansation_bold_macroman/Sansation-Bold-webfont.eot');
    src: url('fonts/sansation_bold_macroman/Sansation-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansation_bold_macroman/Sansation-Bold-webfont.woff2') format('woff2'),
         url('fonts/sansation_bold_macroman/Sansation-Bold-webfont.woff') format('woff'),
         url('fonts/sansation_bold_macroman/Sansation-Bold-webfont.ttf') format('truetype'),
         url('fonts/sansation_bold_macroman/Sansation-Bold-webfont.svg#sansationbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sansationbold_italic';
    src: url('fonts/sansation_bolditalic_macroman/Sansation-BoldItalic-webfont.eot');
    src: url('fonts/sansation_bolditalic_macroman/Sansation-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansation_bolditalic_macroman/Sansation-BoldItalic-webfont.woff2') format('woff2'),
         url('fonts/sansation_bolditalic_macroman/Sansation-BoldItalic-webfont.woff') format('woff'),
         url('fonts/sansation_bolditalic_macroman/Sansation-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/sansation_bolditalic_macroman/Sansation-BoldItalic-webfont.svg#sansationbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sansationitalic';
    src: url('fonts/sansation_italic_macroman/Sansation-Italic-webfont.eot');
    src: url('fonts/sansation_italic_macroman/Sansation-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansation_italic_macroman/Sansation-Italic-webfont.woff2') format('woff2'),
         url('fonts/sansation_italic_macroman/Sansation-Italic-webfont.woff') format('woff'),
         url('fonts/sansation_italic_macroman/Sansation-Italic-webfont.ttf') format('truetype'),
         url('fonts/sansation_italic_macroman/Sansation-Italic-webfont.svg#sansationitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sansation_lightlight';
    src: url('fonts/sansation_light_macroman/Sansation-Light-webfont.eot');
    src: url('fonts/sansation_light_macroman/Sansation-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansation_light_macroman/Sansation-Light-webfont.woff2') format('woff2'),
         url('fonts/sansation_light_macroman/Sansation-Light-webfont.woff') format('woff'),
         url('fonts/sansation_light_macroman/Sansation-Light-webfont.ttf') format('truetype'),
         url('fonts/sansation_light_macroman/Sansation-Light-webfont.svg#sansation_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sansation_lightlight_italic';
    src: url('fonts/sansation_lightitalic_macroman/Sansation-LightItalic-webfont.eot');
    src: url('fonts/sansation_lightitalic_macroman/Sansation-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansation_lightitalic_macroman/Sansation-LightItalic-webfont.woff2') format('woff2'),
         url('fonts/sansation_lightitalic_macroman/Sansation-LightItalic-webfont.woff') format('woff'),
         url('fonts/sansation_lightitalic_macroman/Sansation-LightItalic-webfont.ttf') format('truetype'),
         url('fonts/sansation_lightitalic_macroman/Sansation-LightItalic-webfont.svg#sansation_lightlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sansationregular';
    src: url('fonts/sansation_regular_macroman/Sansation-Regular-webfont.eot');
    src: url('fonts/sansation_regular_macroman/Sansation-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansation_regular_macroman/Sansation-Regular-webfont.woff2') format('woff2'),
         url('fonts/sansation_regular_macroman/Sansation-Regular-webfont.woff') format('woff'),
         url('fonts/sansation_regular_macroman/Sansation-Regular-webfont.ttf') format('truetype'),
         url('fonts/sansation_regular_macroman/Sansation-Regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;

}






